@mixin html {
  background-color: $background;
  font-family: $font;
}
@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin transition($time) {
  -webkit-transition: $time ease-in-out;
  -moz-transition: $time ease-in-out;
  -o-transition: $time ease-in-out;
  transition: $time ease-in-out;
}
@mixin grid($column, $row) {
  display: grid;
  grid-template-columns: $column;
  grid-template-rows: $row;
}
@mixin loadMore{
    padding:14px;
    background-color: #e2dede;
    border-radius: 8px;
}
@mixin a {
  text-decoration: none;
  color: rgb(63, 62, 62);
  &:hover {
    color: rgb(1, 1, 1);
  }
}
