@mixin html {
  background-color: $background;
  font-family: $font;
}
@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin transition($time) {
  -webkit-transition: $time ease-in-out;
  -moz-transition: $time ease-in-out;
  -o-transition: $time ease-in-out;
  transition: $time ease-in-out;
}
@mixin grid($column, $row) {
  display: grid;
  grid-template-columns: $column;
  grid-template-rows: $row;
}

